<%- include ('../partials/header.ejs') %>



    <!-- header open -->
    <%-include ('../components/Header-footer/header.ejs')%>
        <!-- header close -->
        <!-- whatsapp integration open -->
        <%-include ('../components/whatsapp.ejs')%>
            <!-- whatsapp integration close -->

            <!-- slide up open -->
            <%-include ('../components/top-up.ejs')%>
                <!-- slide up close -->
                <!-- preloader open -->
                <%-include ('../preloader/preloader.ejs')%>
                    <!-- preloader close -->

                    <%-include ('../effect/rockate-effect.ejs') %>

                        <!-- wordpress-package home start -->

                        <section class="sp-package-home">
                            <div class="sp-package-home-inner">
                            </div>
                        </section>
                        <!-- wordpress-package home stop -->

                        <!-- wordpress-package information open -->

                        <div class="website-pricing">
                            <h1>Shopify Ecommerce</h1>
                            <div class="code-website-pricing-detail">
                                <div class="code-website-pricing-details-heading">
                                    <hr>
                                    <h1>Depends On Your Store<br>
                                        Requirement</h1>
                                </div>
                                <div class="code-website-pricing-details-btn">
                                    <button><a href="/contact-us">Let's Discuss</a></button>
                                </div>
                            </div>
                        </div>

                        <!-- wordpress package information close -->

                        <!-- testimonials open -->
                        <%- include ('../components/testimonials.ejs')%>
                            <!-- testimonials close -->

                            <!-- contact from open -->
                            <%- include ('../components/contact-us.ejs')%>
                                <!-- contact from close -->



                                <!-- footer open -->
                                <%- include ('../components/Header-footer/footer.ejs') %>
                                    <!-- footer close -->


                                    <%-include ('../partials/footer.ejs') %>