<%- include ('../partials/header.ejs') %>



    <!-- header open -->
    <%-include ('../components/Header-footer/header.ejs')%>
        <!-- header close -->

        <!-- whatsapp integration open -->
        <%-include ('../components/whatsapp.ejs')%>
            <!-- whatsapp integration close -->

            <!-- slide up open -->
            <%-include ('../components/top-up.ejs')%>
                <!-- slide up close -->
                <!-- preloader open -->
                <%-include ('../preloader/preloader.ejs')%>
                    <!-- preloader close -->

                    <%-include ('../effect/rockate-effect.ejs') %>

                        <!-- wordpress-package home start -->




                        <!-- wordpress-package home start -->

                        <section class="wp-package-home">
                            <div class="wp-package-home-inner">
                            </div>
                        </section>
                        <!-- wordpress-package home stop -->

                        <!-- wordpress-package information open -->

                        <section class="wordpress-pacakge-detail">
                            <div class="website-pricing">
                                <h1>WordPress</h1>
                                <div class="website-pricing-details">
                                    <div class="website-pricing-div" id="website-pricing-div-1">
                                        <p>Standard Plan</p>
                                        <h2><span>&#8377;</span>15,000/-</h2>
                                        <p id="pricing-year">Two Years</p>
                                        <div class="website-pricing-inner-image">
                                        </div>
                                        <div id="pricing-features-details">

                                            <p>&#10004;&#65039; 5 page Website</p>
                                            <p>&#10004;&#65039; 2 year domain hosting</p>
                                            <p>&#10004;&#65039; Dynamic Website (premium Design)</p>
                                            <p>&#10004;&#65039; Admin Access</p>
                                            <p>&#10004;&#65039; 24/7 Hosting Support</p>
                                            <p>&#10004;&#65039; Free SSL</p>
                                            <p>&#10004;&#65039; 1 Free Email</p>
                                            <p>&#10004;&#65039; SEO Friendly Website</p>
                                            <p>&#10004;&#65039; Contact Form To Email Integration</p>
                                            <p>&#10004;&#65039; whatsapp Button Integration </p>
                                            <p>&#10004;&#65039; Google Map Integration</p>
                                            <p>&#10004;&#65039; 2 Year Technical Support For Website</p>
                                            <p>&#10004;&#65039; call Button Integration</p>
                                            <p>&#10004;&#65039; Inquiry Form</p>
                                            <p>&#10004;&#65039; Google SiteKit Setup</p>

                                            <p>&#10004;&#65039; Social Media Integration</p>
                                            <p>&#10004;&#65039; Live Chat Integration</p>

                                            <p>&#10004;&#65039; And More Let's Discuss</p>
                                        </div>
                                        <button><a href="/contact-us">CONTACT</a></button>
                                    </div>
                                    <div class="website-pricing-div" id="website-pricing-div-1">
                                        <p>Premium Plan</p>
                                        <h2><span>&#8377;</span>25,000/-</h2>
                                        <p id="pricing-year">Two Years</p>
                                        <div class="website-pricing-inner-image">
                                        </div>
                                        <div id="pricing-features-details">
                                            <p>&#10004;&#65039; 12 page Website</p>
                                            <p>&#10004;&#65039; 2 year domain hosting</p>
                                            <p>&#10004;&#65039; Dynamic Website (premium Design)</p>
                                            <p>&#10004;&#65039; Admin Access</p>
                                            <p>&#10004;&#65039; 24/7 Hosting Support</p>
                                            <p>&#10004;&#65039; Free SSL</p>
                                            <p>&#10004;&#65039; 1 Free Email</p>
                                            <p>&#10004;&#65039; SEO Friendly Website</p>
                                            <p>&#10004;&#65039; Contact Form To Email Integration</p>
                                            <p>&#10004;&#65039; whatsapp Button Integration </p>
                                            <p>&#10004;&#65039; Google Map Integration</p>
                                            <p>&#10004;&#65039; 2 Year Technical Support For Website</p>
                                            <p>&#10004;&#65039; call Button Integration</p>
                                            <p>&#10004;&#65039; Inquiry Form</p>
                                            <p>&#10004;&#65039; Payment Gateway Integration</p>
                                            <p>&#10004;&#65039; Google SiteKit Setup</p>
                                            <p>&#10004;&#65039; Social Media Integration</p>
                                            <p>&#10004;&#65039; Live Chat Integration</p>
                                            <p>&#10004;&#65039; Woocommerce Features</p>
                                            <p>&#10004;&#65039; And More Let's Discuss</p>
                                        </div>
                                        <button><a href="/contact-us">CONTACT</a></button>
                                    </div>

                                    <div class="website-pricing-div" id="website-pricing-div-1">
                                        <p>Custom Plan</p>
                                        <h2><span>&#8377;</span>????/-</h2>
                                        <p id="pricing-year">Two Years</p>
                                        <div class="website-pricing-inner-image">
                                        </div>
                                        <div id="pricing-features-details">
                                            <p>&#10004;&#65039; 15 page Website</p>
                                            <p>&#10004;&#65039; 2 year domain hosting</p>
                                            <p>&#10004;&#65039; Dynamic Website (premium Design)</p>
                                            <p>&#10004;&#65039; Admin Access</p>
                                            <p>&#10004;&#65039; 24/7 Hosting Support</p>
                                            <p>&#10004;&#65039; Free SSL</p>
                                            <p>&#10004;&#65039; 1 Free Email</p>
                                            <p>&#10004;&#65039; SEO Friendly Website</p>
                                            <p>&#10004;&#65039; Contact Form To Email Integration</p>
                                            <p>&#10004;&#65039; whatsapp Button Integration </p>
                                            <p>&#10004;&#65039; Google Map Integration</p>
                                            <p>&#10004;&#65039; 2 Year Technical Support For Website</p>
                                            <p>&#10004;&#65039; call Button Integration</p>
                                            <p>&#10004;&#65039; Inquiry Form</p>
                                            <p>&#10004;&#65039; Payment Gateway Integration</p>
                                            <p>&#10004;&#65039; Google SiteKit Setup</p>
                                            <p>&#10004;&#65039; Social Media Integration</p>
                                            <p>&#10004;&#65039; Woocommerce Features</p>
                                            <p>&#10004;&#65039; Live Chat Integration</p>
                                        </div>
                                        <button><a href="/contact-us">CONTACT</a></button>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <!-- wordpress package information close -->

                        <!-- testimonials open -->

                        <%- include ('../components/testimonials.ejs')%>

                            <!-- testimonials close -->

                            <!-- contact from open -->
                            <%- include ('../components/contact-us.ejs')%>
                                <!-- contact from close -->


                                <!-- footer open -->
                                <%- include ('../components/Header-footer/footer.ejs') %>
                                    <!-- footer close -->


                                    <%-include ('../partials/footer.ejs') %>