<%- include ('./partials/header.ejs') %>

    <%-include ('./components/Header-Footer/header.ejs')%>

        <!-- whatsapp integration open -->
        <%-include ('./components/whatsapp.ejs')%>
            <!-- whatsapp integration close -->

            <!-- slide up open -->
            <%-include ('./components/top-up.ejs')%>
                <!-- slide up close -->
                <!-- preloader open -->
                <%-include ('./preloader/preloader.ejs')%>
                    <!-- preloader close -->

                    <%-include ('./effect/rockate-effect.ejs') %>

                        <!-- about us home start -->
                        <section class="about-us-home-img">
                            <div class="about-us-home-inner">

                            </div>
                        </section>
                        <!-- about us home stop -->

                        <!-- about us services details open -->

                        <section class="about-us-services-info">
                            <h1><span>Designs Dynamo</span><br>
                                Crafting Digital Experiences</h1>
                            <div class="about-us-services-info-inner">
                                <div class="about-us-services-detail">
                                    <img src="" alt="">
                                    <h2>Website</h2>
                                    <div class="about-us-detail-p-tag">

                                        <p>Wordpress Website</p>
                                        <p>Shopify Website</p>
                                        <p>Ecommerce Website</p>
                                        <p>Code Website</p>
                                    </div>
                                    <button><a href="">Get a Quote</a></button>
                                </div>
                                <div class="about-us-services-detail">
                                    <img src="" alt="">
                                    <h2>Graphics Design</h2>
                                    <div class="about-us-detail-p-tag">

                                        <p>Logo Design</p>
                                        <p>Branding</p>
                                        <p>other</p>
                                    </div>

                                    <button><a href="">Get a Quote</a></button>
                                </div>
                                <div class="about-us-services-detail">
                                    <img src="" alt="">
                                    <h2>Video Editing</h2>
                                    <div class="about-us-detail-p-tag">

                                        <p>get More Information</p>
                                    </div>

                                    <button><a href="">Get a Quote</a></button>
                                </div>
                                <div class="about-us-services-detail">
                                    <img src="" alt="">
                                    <h2>Digital Marketing</h2>
                                    <div class="about-us-detail-p-tag">

                                        <p>Call For More Information</p>
                                    </div>

                                    <button><a href="">Get a Quote</a></button>
                                </div>
                            </div>
                        </section>

                        <!-- about us services details close -->

                        <!-- about us about details open -->

                        <section class="about-us-about-details">
                            <div class="about-us-about-details-inner">
                                <div class="about-us-about-detail-text">
                                    <h3>About Us</h3>
                                    <p>Founded with a passion for creating exceptional online experiences, Designs
                                        Dynamo<br>
                                        has been revolutionizing the digital landscape since our establishment.<br>
                                        With a focus on delivering cutting-edge website development, designing,<br>
                                        video editing, graphics designing, and digital marketing services, we have
                                        emerged
                                        as
                                        a<br>
                                        trusted partner for businesses seeking to thrive in the ever-evolving digital
                                        world.<br>
                                    </p>
                                </div>
                                <div class="about-us-about-detail-img">
                                    <img src="" alt="">
                                </div>
                            </div>
                            <hr>
                        </section>

                        <!-- about us about details close -->


                        <!-- about us company journey open -->
                        <section class="about-us-about-details">
                            <div class="about-us-about-details-inner">
                                <div class="about-us-about-detail-img">
                                    <img src="" alt="">
                                </div>
                                <div class="about-us-about-detail-text">
                                    <h3>Company's Journey</h3>
                                    <p>Founded with a passion for creating exceptional online experiences,<br>
                                        Designs Dynamo has been revolutionizing the digital landscape<br>
                                        since our establishment. With a focus on delivering cutting-edge<br>
                                        website development, designing, video editing, graphics designing,<br>
                                        and digital marketing services, we have emerged as a trusted partner for<br>
                                        businesses seeking to thrive in the ever-evolving digital world.<br>

                                    </p>
                                </div>
                            </div>
                            <hr>
                        </section>

                        <!-- about us company journey close -->


                        <!-- about us about purpose and goals open -->

                        <section class="about-us-about-details">
                            <div class="about-us-about-details-inner">
                                <div class="about-us-about-detail-text">
                                    <h3>Purpose and Goals</h3>
                                    <p>At Designs Dynamo, our purpose is clear – to empower businesses with<br>
                                        innovative digital solutions. We strive to elevate their online presence,<br>
                                        influence, and reach by delivering exceptional services that drive tangible
                                        results.<br>
                                        Our goals revolve around delivering unmatched quality, fostering long-term<br>
                                        partnerships, and continuously adapting to industry trends to help our
                                        clients<br>
                                        stay ahead in the digital race.<br>
                                    </p>
                                </div>
                                <div class="about-us-about-detail-img">
                                    <img src="" alt="">
                                </div>
                            </div>
                            <hr>
                        </section>

                        <!-- about us about purpose and goals close -->

                        <!-- about us introduction to team open -->
                        <section class="about-us-about-details">
                            <div class="about-us-about-details-inner">
                                <div class="about-us-about-detail-img">
                                    <img src="" alt="">
                                </div>
                                <div class="about-us-about-detail-text">
                                    <h3>Introduction to the Team</h3>
                                    <p>Behind the success of Designs Dynamo is a dynamic team of highly skilled<br>
                                        professionals who are passionate about their craft. With years of experience
                                        and<br>
                                        expertise in their respective fields, our team is dedicated to bringing visions
                                        to
                                        life<br>
                                        through meticulous attention to detail and a deep understanding of our
                                        clients'<br>
                                        requirements. We believe in collaboration, creativity, and ongoing learning,<br>
                                        which allows us to consistently deliver remarkable outcomes for our clients.<br>
                                    </p>
                                </div>
                            </div>
                            <hr>
                        </section>

                        <!-- about us introduction to team close -->

                        <!-- about us achievements open -->

                        <section class="about-us-about-details">
                            <div class="about-us-about-details-inner">
                                <div class="about-us-about-detail-text">
                                    <h3>Achievements</h3>
                                    <p>* Successfully launching and optimizing websites for leading businesses across
                                        various
                                        industries.<br>

                                        * Creating visually stunning and engaging videos that have garnered millions of
                                        views
                                        and
                                        boosted
                                        brand recognition.<br>

                                        * Designing exceptional graphics that have caught the attention of renowned
                                        publications
                                        and
                                        industry influencers.<br>

                                        * Implementing result-driven digital marketing campaigns that have contributed
                                        to
                                        substantial
                                        revenue growth for our
                                        clients.</p>
                                </div>
                                <div class="about-us-about-detail-img">
                                    <img src="" alt="">
                                </div>
                            </div>
                            <hr>
                        </section>

                        <!-- about us about achievements close -->


                        <!-- about us call to action open -->
                        <section class="about-us-about-details">
                            <div class="about-us-about-details-inner">
                                <div class="about-us-about-detail-img">
                                    <img src="" alt="">
                                </div>
                                <div class="about-us-about-detail-text">
                                    <h3>Call to Action</h3>
                                    <p>Ready to take your digital presence to new heights? Partner with Designs
                                        Dynamo<Br>
                                        today and unlock the full potential of your brand. Contact us now to discuss<Br>
                                        your specific requirements and let our team of experts deliver exceptional
                                        digital<Br>
                                        solutions tailored to your business needs.<Br>
                                    </p>
                                    <button><a href="/contact-us">CONTACT US</a></button>
                                </div>
                            </div>
                            <hr>
                        </section>

                        <!-- about us call to action  close -->


                        <%-include ('./components/contact-us.ejs') %>

                            <%-include ('./components/Header-Footer/footer.ejs')%>


                                <%- include ('./partials/footer.ejs') %>