<%-include ('./partials/header.ejs')%>

    <%-include ('./components/Header-footer/header.ejs')%>

        <%-include ('./components/whatsapp.ejs')%>

            <%-include ('./components/top-up.ejs')%>

                <!-- preloader open -->
                <%-include ('./preloader/preloader.ejs')%>
                    <!-- preloader close -->

                    <%-include ('./effect/rockate-effect.ejs') %>



                        <!-- contact-us home section start -->
                        <section class="contact-us-home-outer">
                            <div class="contat-us-home-inner">

                            </div>
                        </section>
                        <!-- contact-us home section stop -->

                        <!-- contact us form or text open -->

                        <%- include ('./components/contact-us.ejs')%>

                            <!-- contact us form or text close -->

                            <!-- contact us address or info open -->

                            <section class="contact-us-info">
                                <div class="contact-us-info-inner">
                                    <div class="contact-us-info-text">
                                        <h2>Our Location</h2>
                                        <div class="contact-us-info-detail">
                                            <h4>Address</h4>
                                            <p>New Sangvi Krishna Chowk gurudatta<br>
                                                Colony Lakshmi Niwas 411067</p>
                                        </div>
                                        <div class="contact-us-info-detail">
                                            <h4>Email</h4>
                                            <p>abstractssolutions@gmail.com</p>
                                        </div>
                                        <div class="contact-us-info-detail">
                                            <h4>Contact No</h4>
                                            <p>+91 8975205712</p>
                                        </div>

                                    </div>
                                    <div class="contact-us-info-map">
                                        <iframe
                                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3781.8136762337954!2d73.81225407432129!3d18.58243706728331!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2b904cb064c47%3A0x5708f658b5b7e34d!2sEasycart%20office!5e0!3m2!1sen!2sin!4v1704205499879!5m2!1sen!2sin"
                                            style="border:0;" allowfullscreen="" loading="lazy"
                                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                                    </div>
                                </div>
                            </section>

                            <!-- contact us address or info close -->


                            <%-include ('./components/Header-footer/footer.ejs')%>
                                <script src="/javascript/contact-us.js"></script>

                                <%-include ('./partials/footer.ejs')%>