<%- include ('./partials/header.ejs') %>

    <!-- ganpati bappa morya -->



    <!-- whatsapp integration open -->
    <%-include ('./components/whatsapp.ejs')%>
        <!-- whatsapp integration close -->

        <!-- slide up open -->
        <%-include ('./components/top-up.ejs')%>
            <!-- slide up close -->
            <!-- preloader open -->
            <%-include ('./preloader/preloader.ejs')%>
                <!-- preloader close -->

                <%-include ('./effect/rockate-effect.ejs') %>

                    <div class=" main-wrapper">


                        <%-include ('./components/Header-Footer/header.ejs')%>




                            <!-- Home Banner Open -->
                            <section class="home-start ">
                                <div class="Home-Banner ">
                                    <div id="Home-text">
                                        <h5><span>Hot!</span>We Can Managed All Digital Services</h5>
                                        <h1 data-cursor-text="HELLO" data-cursor-stick>Your Partner For <br> Digital
                                            Solution!
                                        </h1>
                                        <p>We provide the most responsive and<br>
                                            functional IT design for companies and<br>
                                            businesses worldwide.</p>
                                        <button><a href="#">Read More</a></button>
                                    </div>
                                    <div id="Home-img"
                                        data-cursor-img="https://cdn.pixabay.com/photo/2019/01/29/11/20/handshake-3962172_1280.jpg">
                                        <img src="/images/Home-page-images/banner.png" alt="">
                                    </div>
                                </div>
                            </section>
                            <!-- Home Banner close -->

                            <!-- home services overview start -->
                            <section class="Home-services-overview">
                                <div class="services-overview-inner">
                                    <div class="services-info" id="services-1">
                                        <img src="/images/services icons/wordpress.png"
                                            data-cursor-img="/images/services icons/wordpress.png">
                                        <h3>WordPress Web<br>
                                            Development</h3>
                                        <p>Crafting dynamic, user-friendly websites tailored to your needs using
                                            versatile WordPress capabilities and customizable
                                            features.</p>
                                        <div id="Read-More">
                                            <i class="fa-solid fa-plus"></i>
                                            <p><a href="">Read More</a></p>
                                        </div>

                                    </div>
                                    <div class="services-info" id="services-2">
                                        <img src="/images/services icons/shopify.png"
                                            data-cursor-img="/images/services icons/shopify.png">
                                        <h3>Shopify Web<br>
                                            Development</h3>
                                        <p>Building robust e-commerce platforms leveraging Shopify's power for seamless
                                            transactions, enhancing user experience and
                                            sales.</p>
                                        <div id="Read-More">
                                            <i class="fa-solid fa-plus"></i>
                                            <p><a href="">Read More</a></p>
                                        </div>

                                    </div>
                                    <div class="services-info" id="services-3">
                                        <img src="/images/services icons/business.png"
                                            data-cursor-img="/images/services icons/business.png">
                                        <h3>Business Web<br>
                                            Development</h3>
                                        <p>Business Web DevelopmentCreating professional, scalable websites that align
                                            with your business goals,
                                            optimizing functionality and user
                                            engagement</p>
                                        <div id="Read-More">
                                            <i class="fa-solid fa-plus"></i>
                                            <p><a href="">Read More</a></p>
                                        </div>

                                    </div>
                                    <div class="services-info" id="services-4">
                                        <img src="/images/services icons/ecommerce.png"
                                            data-cursor-img="/images/services icons/ecommerce.png">
                                        <h3>Ecommerce Web<br>
                                            Development</h3>
                                        <p>Ecommerce Web Designing engaging online stores, merging aesthetics with
                                            functionality to
                                            elevate your brand and drive sales
                                            effectively.</p>
                                        <div id="Read-More">
                                            <i class="fa-solid fa-plus"></i>
                                            <p><a href="">Read More</a></p>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!-- home services overview stop-->

                            <!-- /* contact Message open */ -->
                            <div class="contact-massage">
                                <img src="/images/Home-page-images/message.png"
                                    data-cursor-img="/images/Home-page-images/message.png">
                                <h4>Stop wasting time and money on digital solution. <span><a href="/contact-us">Let's
                                            tall with us</a></span>
                                </h4>
                            </div>
                            <!-- /* contact Message close */ -->

                            <!-- Project overview Open -->
                            <%-include ('./components/project-overview-slider.ejs')%>
                                <!-- Project Overview close -->

                                <!-- how we work open -->
                                <section id="how-we-work-outerdiv">
                                    <div id="how-we-work-innerdiv">
                                        <div id="how-we-work-text" class="howwework-innercontent">
                                            <h3>WHO WE ARE</h3>
                                            <h1>Highly Tailored IT<br>
                                                Design, Management<br>
                                                & Support Services.</h1>
                                            <p>Accelerate innovation with world-class tech teams We’ll match<br>
                                                you to an entire remote team of incredible freelance talent for<br>
                                                all your software development needs.</p>
                                            <div id="how-we-work-inner-text">
                                                <a href="#"><img src="./images/Home-page-images/player.png"
                                                        data-cursor-img="./images/Home-page-images/player.png"></a>
                                                <h2>How We Work</h2>
                                            </div>
                                        </div>
                                        <div id="how-we-work-img" class="howwework-innercontent">
                                            <div id="how-we-work-img1" class="howwework-images">
                                            </div>
                                            <div id="how-we-work-img2" class="howwework-images">

                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <!-- how we work close -->

                                <!-- quotes/info section start -->
                                <section id="quotes">
                                    <div id="quotes-inner">
                                        <div id="quotes-text">
                                            <h1 id="quotes-h1">You know you did right<br>
                                                when all your effort<br>
                                                started to pay off in an<br>
                                                unexpected and<br>
                                                impressive way.</h1>
                                            <p id="author-name">author:</p>
                                            <p id="author"></p>
                                            <img src="/images/Home-page-images/pranitImage/pranit.png" alt="">
                                            <h3>Pranit.J.Daphale</h3>
                                            <p><span>CEO,</span> Abstracts Solutions</p>
                                        </div>
                                        <hr>
                                        <div id="suminfo">
                                            <p>Empower Your Brand: Expertise in Design, Video, & Marketing</p>
                                            <div id="info-inner">
                                                <div id="info-tick-icon">
                                                    <img src="/images/Home-page-images/check.png" alt="">
                                                    <img src="/images/Home-page-images/check.png" alt="">
                                                    <img src="/images/Home-page-images/check.png" alt="">
                                                </div>
                                                <div id="info-text">
                                                    <h5>We always focus on technical excellence</h5>
                                                    <h5>Wherever you’re going, we bring ideas and excitement</h5>
                                                    <h5>We’re consultants, guides, and partners for brands</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <!-- quotes/info section stop -->

                                <!-- bullet-info start -->
                                <section id="bullet-info">
                                    <div id="bullet-info-inner">
                                        <div class="bullet-info-content">
                                            <img src="/images/Home-page-images/bullet-info-icons/happyclient.png" alt=""
                                                data-cursor-img="/images/Home-page-images/bullet-info-icons/happyclient.png">
                                            <div id="happy-client">
                                                <h1>30+</h1>
                                                <h3>Happy Client</h3>
                                            </div>
                                        </div>
                                        <div class="bullet-info-content">
                                            <img src="/images/Home-page-images/bullet-info-icons/project finished.png"
                                                alt=""
                                                data-cursor-img="/images/Home-page-images/bullet-info-icons/project finished.png">
                                            <div id="project-finished">
                                                <h1>50+</h1>
                                                <h3>Project Finished</h3>
                                            </div>
                                        </div>
                                        <div class="bullet-info-content">
                                            <img src="/images/Home-page-images/bullet-info-icons/experiance.png" alt=""
                                                data-cursor-img="/images/Home-page-images/bullet-info-icons/experiance.png">
                                            <div id="experience">
                                                <h1>3+</h1>
                                                <h3>Experience</h3>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <!-- bullet-info stop -->


                                <!-- testimonials open  -->
                                <%-include ('./components/testimonials.ejs')%>
                                    <!-- testimonials close  -->

                                    <!-- thought section start -->
                                    <section id="thought-section">
                                        <div id="thought-inner">
                                            <img src="" alt="" id="thought-outer-img">
                                            <div id="thought-text">
                                                <img src="/images/Home-page-images/chat.png" alt=""
                                                    data-cursor-img="/images/Home-page-images/chat.png">
                                                <p>Committed to crafting compelling designs and seamless user
                                                    experiences that resonate with your audience.</p>
                                                <!-- <h4>Person name</h4> -->
                                            </div>
                                            <div id="thought-arrow"></div>
                                        </div>
                                    </section>
                                    <!-- thought section stop -->


                                    <%-include ('./components/Header-Footer/footer.ejs')%>

                    </div>

                    <!-- script start -->
                    <script src="/javascript/home.js"></script>

                    <!-- script stop -->

                    <%- include ('./partials/footer.ejs') %>