<%- include ('./partials/header.ejs')%>




    <%- include ('./components/Header-footer/header.ejs')%>

        <!-- whatsapp integration open -->
        <%-include ('./components/whatsapp.ejs')%>
            <!-- whatsapp integration close -->

            <!-- slide up open -->
            <%-include ('./components/top-up.ejs')%>
                <!-- slide up close -->
                <!-- preloader open -->
                <%-include ('./preloader/preloader.ejs')%>
                    <!-- preloader close -->

                    <%-include ('./effect/rockate-effect.ejs') %>

                        <!-- project home screen open -->
                        <section class="project-home-screen">
                            <div class="project-home-img">
                                <h1>PROJECTS</h1>
                            </div>
                        </section>

                        <!-- project home screen close -->


                        <!-- projects options open -->
                        <!-- project overview demo open -->

                        <!-- projects options open -->

                        <section class="projects-options">
                            <div class="projects-options-inner">
                                <button class="Website-btn">WEBSITES</button>
                                <button class="design-btn">DESGINS</button>
                                <button class="uiux-btn">UI/UX</button>
                                <button class="other-btn">OTHER</button>
                            </div>
                        </section>

                        <!-- projects options close -->


                        <!-- project overview demo open -->

                        <section class="project-overview-demo">
                            <div class="project-overview-demo-inner">


                                <div id="Project-website-btn">
                                    <div class="project-btn-content">

                                        <div class="project-overview-details" id="project-overview-details-1">
                                            <div class="project-overview-image">
                                                <img src="/images/project-page-image/website/project-1.jpg" alt="">
                                            </div>
                                            <h3>4Axis Surveyors</h3>
                                            <p>this website is design and developed by designs daynamo using wordpress
                                            </p>
                                            <div class="project-overview-btn">
                                                <button><a href="https://4axissurveyors.com/">VIEW DEMO</a></button>
                                            </div>

                                        </div>

                                        <div class="project-overview-details" id="project-overview-details-2">
                                            <div class="project-overview-image">
                                                <img src="/images/project-page-image/website/project-2.jpg" alt="">
                                            </div>
                                            <h3>ved Associate</h3>
                                            <p>this website is design and developed by designs daynamo using wordpress
                                            </p>
                                            <div class="project-overview-btn">
                                                <button><a href="https://vedassociate.com/">VIEW DEMO</a></button>
                                            </div>

                                        </div>

                                        <!-- <div class="project-overview-details" id="project-overview-details-3">
                                            <div class="project-overview-image">
                                                <img src="" alt="">
                                            </div>
                                            <h3>Lorem ipsum dolor sit amet.</h3>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus,
                                                soluta.
                                            </p>
                                            <div class="project-overview-btn">
                                                <button>VIEW DEMO</button>
                                            </div>
                                        </div> -->

                                    </div>
                                </div>

                                <div id="Project-design-btn">
                                    <div class="project-btn-content">
                                        <div class="project-overview-details project-design-after-click"
                                            id="project-overview-details-1">
                                            <div class="project-overview-image projectsImageAfterclick">
                                                <img src="/images/project-page-image/design/ambit-project-logo.jpg"
                                                    alt="">
                                            </div>

                                        </div>

                                        <div class="project-overview-details project-design-after-click"
                                            id="project-overview-details-2">
                                            <div class="project-overview-image projectsImageAfterclick">
                                                <img src="/images/project-page-image/design/health-harvests.jpg" alt="">
                                            </div>

                                        </div>

                                        <div class="project-overview-details project-design-after-click"
                                            id="project-overview-details-3">
                                            <div class="project-overview-image projectsImageAfterclick">
                                                <img src="/images/project-page-image/design/sahyadri-surveyors-logo.jpg"
                                                    alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="Project-uiux-btn">
                                    <div class="project-btn-content">
                                        <div class="project-overview-details project-design-after-click"
                                            id="project-overview-details-1">
                                            <div class="project-overview-image projectsImageAfterclick">
                                                <img src="/images/project-page-image/UPDATE-SOON.jpg" alt="">
                                            </div>
                                        </div>

                                        <div class="project-overview-details project-design-after-click"
                                            id="project-overview-details-2">
                                            <div class="project-overview-image projectsImageAfterclick">
                                                <img src="/images/project-page-image/UPDATE-SOON.jpg" alt="">
                                            </div>

                                        </div>

                                        <div class="project-overview-details project-design-after-click"
                                            id="project-overview-details-3">
                                            <div class="project-overview-image projectsImageAfterclick">
                                                <img src="/images/project-page-image/UPDATE-SOON.jpg" alt="">
                                            </div>

                                        </div>

                                    </div>
                                </div>

                                <div id="Project-other-btn">
                                    <div class="project-btn-content">
                                        <div class="project-overview-details project-design-after-click"
                                            id="project-overview-details-1">
                                            <div class="project-overview-image projectsImageAfterclick">
                                                <img src="/images/project-page-image/UPDATE-SOON.jpg" alt="">
                                            </div>

                                        </div>

                                        <div class="project-overview-details project-design-after-click"
                                            id="project-overview-details-2">
                                            <div class="project-overview-image projectsImageAfterclick">
                                                <img src="/images/project-page-image/UPDATE-SOON.jpg" alt="">
                                            </div>

                                        </div>

                                        <div class="project-overview-details project-design-after-click"
                                            id="project-overview-details-3">
                                            <div class="project-overview-image projectsImageAfterclick">
                                                <img src="/images/project-page-image/UPDATE-SOON.jpg" alt="">
                                            </div>

                                        </div>

                                    </div>
                                </div>


                            </div>
                        </section>
                        <!-- projects after click open -->
                        <div class="Project-afterclick">
                            <div class="projectafter-click-showimg">
                                <img src="" alt="">
                                <i class="fa-solid fa-xmark"></i>
                            </div>
                        </div>
                        <!-- projects after click close -->

                        <!-- project overview demo close -->
                        <!-- project overview demo close -->

                        <!-- projects options close -->

                        <!-- testimonials open -->

                        <%-include ('./components/testimonials.ejs') %>

                            <!-- testimonials close -->
                            <!-- our partner open -->

                            <%-include ('./components/our-partner.ejs')%>

                                <!-- our partner close -->


                                <script src="/javascript/project.js"></script>

                                <%- include ('./components/Header-footer/footer.ejs')%>


                                    <%- include ('./partials/footer.ejs')%>