<%- include ('./partials/header.ejs')%>





    <%- include ('./components/Header-Footer/header.ejs')%>


        <!-- whatsapp integration open -->
        <%-include ('./components/whatsapp.ejs')%>
            <!-- whatsapp integration close -->

            <!-- slide up open -->
            <%-include ('./components/top-up.ejs')%>
                <!-- slide up close -->
                <!-- preloader open -->
                <%-include ('./preloader/preloader.ejs')%>
                    <!-- preloader close -->

                    <%-include ('./effect/rockate-effect.ejs') %>

                        <!-- /* home banner open */ -->
                        <section class="services-banner">
                            <div class="services-home-banner"
                                data-cursor-img="/images/services-page-images/2nd-img.jpg">
                            </div>
                        </section>
                        <!-- /* home banner close */ -->

                        <!-- contact section open -->
                        <section class="services-contact">
                            <div class="services-contact-innner">
                                <div class="services-contact-contents" id="services-contact-1">
                                    <hr>
                                    <h3>To Make Requests For<br>
                                        Further Information,<br>
                                        Contact Us</h3>
                                </div>
                                <div class="services-contact-contents" id="services-contact-2">
                                    <img src="/images/services-page-images/virtual-assistants.png" alt=""
                                        data-cursor-img="/images/services-page-images/virtual-assistants.png">
                                    <p>Call Us For Any Inquiry</p>
                                    <h3>+91 8975205712</h3>
                                </div>
                            </div>
                        </section>
                        <!-- contact section close -->

                        <!-- services our services open -->
                        <section class="services-ourservices">
                            <div class="services-ourservices-inner">

                                <h1>Our Services</h1>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                <div class="services-ourservices-content-rap">

                                    <div class="services-ourservices-content">
                                        <div id="services-ourservices-content-1" class="services-ourservices-details">
                                            <img src="/images/services icons/wordpress.png" alt="">
                                            <h4>Wordpress Website</h4>
                                            <p>Custom design, plugin integration, site optimization, security,
                                                maintenance, and responsive support for seamless website
                                                success.</p>
                                            <div class="services-ourservices-button">
                                                <button><a href="/pricing">Read More</a></button>
                                            </div>
                                        </div>
                                        <div id="services-ourservices-content-2" class="services-ourservices-details">
                                            <img src="/images/services icons/shopify.png" alt="">
                                            <h4>ShopifyEcom Website</h4>
                                            <p>Custom storefronts, product integration, SEO, payment setup, theme
                                                customization, and ongoing support for business
                                                growth.</p>
                                            <div class="services-ourservices-button">
                                                <button><a href="/pricing">Read More</a></button>
                                            </div>
                                        </div>
                                        <div id="services-ourservices-content-3" class="services-ourservices-details">
                                            <img src="/images/services icons/business.png" alt="">
                                            <h4>Code Website</h4>
                                            <p>Web development, frontend/backend coding, database integration,
                                                optimization, security, and ongoing maintenance for
                                                robust online performance.</p>
                                            <div class="services-ourservices-button">
                                                <button><a href="/pricing">Read More</a></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="services-ourservices-content">
                                        <div id="services-ourservices-content-1" class="services-ourservices-details">
                                            <img src="/images/services icons/ecommerce.png" alt="">
                                            <h4>ecommerce Website</h4>
                                            <p>End-to-end eCommerce website solutions: Product listings, secure
                                                payments, seamless checkout, intuitive navigation, and
                                                mobile-responsive design for optimal shopping experiences.</p>
                                            <div class="services-ourservices-button">
                                                <button><a href="/pricing">Read More</a></button>
                                            </div>
                                        </div>
                                        <div id="services-ourservices-content-2" class="services-ourservices-details">
                                            <img src="/images/services icons/maintenance.png" alt="">
                                            <h4>Website Maintenance</h4>
                                            <p>Comprehensive website maintenance: Regular updates, security checks,
                                                performance optimization, content management, and
                                                timely backups for sustained online excellence.</p>
                                            <div class="services-ourservices-button">
                                                <button><a href="/pricing">Read More</a></button>
                                            </div>
                                        </div>
                                        <div id="services-ourservices-content-2" class="services-ourservices-details">
                                            <img src="/images/services icons/ui ux.png" alt="">
                                            <h4>UI/Ux Design</h4>
                                            <p>Exceptional UI/UX design: Intuitive interfaces, user-centric experiences,
                                                wireframing, prototyping, and iterative design
                                                for engaging digital interactions. visualizing your design. and make it
                                                simple</p>
                                            <div class="services-ourservices-button">

                                                <button><a href="/pricing">Read More</a></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="services-ourservices-content">
                                        <div id="services-ourservices-content-1" class="services-ourservices-details">
                                            <img src="/images/services icons/graphic-designer.png" alt="">
                                            <h4>Graphics Design</h4>
                                            <p>Logos, branding, marketing materials, illustrations, and visual content
                                                tailored for impactful brand representation and
                                                engagement.</p>
                                            <div class="services-ourservices-button">
                                                <button><a href="/pricing">Read More</a></button>
                                            </div>
                                        </div>
                                        <div id="services-ourservices-content-2" class="services-ourservices-details">
                                            <img src="/images/services icons/video editing.png" alt="">
                                            <h4>Video Editing</h4>
                                            <p>Professional video editing: Cutting-edge editing, transitions, effects,
                                                color grading, audio enhancements, and
                                                storytelling for compelling visual.</p>
                                            <div class="services-ourservices-button">
                                                <button><a href="/pricing">Read More</a></button>
                                            </div>
                                        </div>
                                        <div id="services-ourservices-content-2" class="services-ourservices-details">
                                            <img src="/images/services icons/advertising.png" alt="">
                                            <h4>Digital Marketing</h4>
                                            <p>SEO, social media management, PPC, content creation, analytics, and
                                                campaigns tailored for impactful online visibility
                                                and engagement.</p>
                                            <div class="services-ourservices-button">

                                                <button><a href="/pricing">Read More</a></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- services our services close -->

                        <!-- project overview open -->
                        <%- include ('./components/project-overview-slider.ejs')%>
                            <!-- project overview close -->

                            <!-- services pricing plan open-->
                            <section class="services-pricing-plan">
                                <div class="services-pricing-plan-inner">
                                    <h5>Pricing Plans</h5>
                                    <h1>Affordable Pricing For All</h1>

                                    <div class="services-pricingplan-contents">

                                        <div class="services-pricing-plan-details" id="services-pricing-plan-1">
                                            <h4>Standard Plan</h4>
                                            <div class="services-pricingplan-year">
                                                <h1><span>&#8377;</span>15,000/-</h1>
                                                <h4>(2 Year)</h4>
                                            </div>
                                            <div class="services-pricingplan-ptag">
                                                <p>&#10004;&#65039; 5 page Website</p>
                                                <p>&#10004;&#65039; 2 year domain hosting</p>
                                                <p>&#10004;&#65039; Dynamic Website (premium Design)</p>
                                                <p>&#10004;&#65039; Admin Access</p>
                                                <p>&#10004;&#65039; 24/7 Hosting Support</p>
                                                <p>&#10004;&#65039; Free SSL</p>
                                                <p>&#10004;&#65039; 1 Free Email</p>
                                                <p>&#10004;&#65039; SEO Friendly Website</p>
                                                <p>&#10004;&#65039; Contact Form To Email Integration</p>
                                                <p>&#10004;&#65039; whatsapp Button Integration </p>
                                                <p>&#10004;&#65039; Google Map Integration</p>
                                                <p>&#10004;&#65039; 2 Year Technical Support For Website</p>
                                                <p>&#10004;&#65039; Inquiry Form</p>
                                                <p>&#10004;&#65039; Google SiteKit Setup</p>

                                                <p>&#10004;&#65039; call Button Integration</p>
                                                <p>&#10004;&#65039; Social Media Integration</p>
                                                <p>&#10004;&#65039; Live Chat Integration</p>

                                                <p>&#10004;&#65039; And More Let's Discuss</p>

                                            </div>

                                            <div class="services-pricing-plan-btn">
                                                <button><a href="/contact-us">Apply</a></button>
                                            </div>
                                        </div>
                                        <div class="services-pricing-plan-details" id="services-pricing-plan-2">
                                            <h4>Premium Plan</h4>
                                            <div class="services-pricingplan-year">
                                                <h1><span>&#8377;</span>25,000/-</h1>
                                                <h4>(2 Year)</h4>
                                            </div>
                                            <div class="services-pricingplan-ptag">
                                                <p>&#10004;&#65039; 12 page Website</p>
                                                <p>&#10004;&#65039; 2 year domain hosting</p>
                                                <p>&#10004;&#65039; Dynamic Website (premium Design)</p>
                                                <p>&#10004;&#65039; Admin Access</p>
                                                <p>&#10004;&#65039; 24/7 Hosting Support</p>
                                                <p>&#10004;&#65039; Free SSL</p>
                                                <p>&#10004;&#65039; 1 Free Email</p>
                                                <p>&#10004;&#65039; SEO Friendly Website</p>
                                                <p>&#10004;&#65039; Contact Form To Email Integration</p>
                                                <p>&#10004;&#65039; whatsapp Button Integration </p>
                                                <p>&#10004;&#65039; Google Map Integration</p>
                                                <p>&#10004;&#65039; 2 Year Technical Support For Website</p>
                                                <p>&#10004;&#65039; call Button Integration</p>
                                                <p>&#10004;&#65039; Inquiry Form</p>
                                                <p>&#10004;&#65039; Payment Gateway Integration</p>
                                                <p>&#10004;&#65039; Google SiteKit Setup</p>
                                                <p>&#10004;&#65039; Social Media Integration</p>
                                                <p>&#10004;&#65039; Live Chat Integration</p>
                                                <p>&#10004;&#65039; Woocommerce Features</p>
                                                <p>&#10004;&#65039; And More Let's Discuss</p>
                                            </div>

                                            <div class="services-pricing-plan-btn">
                                                <button><a href="/contact-us">Apply</a></button>
                                            </div>
                                        </div>
                                        <div class="services-pricing-plan-details" id="services-pricing-plan-3">
                                            <h4>Custom Plan</h4>
                                            <div class="services-pricingplan-year">
                                                <h1><span>&#8377;</span>????/-</h1>
                                                <h4>(2 Year)</h4>
                                            </div>
                                            <div class="services-pricingplan-ptag">
                                                <p>&#10004;&#65039; 15 page Website</p>
                                                <p>&#10004;&#65039; 2 year domain hosting</p>
                                                <p>&#10004;&#65039; Dynamic Website (premium Design)</p>
                                                <p>&#10004;&#65039; Admin Access</p>
                                                <p>&#10004;&#65039; 24/7 Hosting Support</p>
                                                <p>&#10004;&#65039; Free SSL</p>
                                                <p>&#10004;&#65039; 1 Free Email</p>
                                                <p>&#10004;&#65039; SEO Friendly Website</p>
                                                <p>&#10004;&#65039; Contact Form To Email Integration</p>
                                                <p>&#10004;&#65039; whatsapp Button Integration </p>
                                                <p>&#10004;&#65039; Google Map Integration</p>
                                                <p>&#10004;&#65039; 2 Year Technical Support For Website</p>
                                                <p>&#10004;&#65039; call Button Integration</p>
                                                <p>&#10004;&#65039; Inquiry Form</p>
                                                <p>&#10004;&#65039; Payment Gateway Integration</p>
                                                <p>&#10004;&#65039; Google SiteKit Setup</p>
                                                <p>&#10004;&#65039; Social Media Integration</p>
                                                <p>&#10004;&#65039; Woocommerce Features</p>
                                                <p>&#10004;&#65039; Live Chat Integration</p>
                                            </div>

                                            <div class="services-pricing-plan-btn">
                                                <button><a href="/contact-us">Apply</a></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!-- services pricing plan close-->



                            <!-- services our partner open -->

                            <%-include ('./components/our-partner.ejs')%>

                                <!-- services our partner close -->

                                <%- include ('./components/Header-Footer/footer.ejs')%>

                                    <!-- script -->
                                    <script src="/javascript/services.js"></script>

                                    <!-- script -->

                                    <%-include ('./partials/footer.ejs')%>